In [40]:
import pandas as pd
import numpy as np
import datetime
df1 = pd.read_csv("person1.csv",header = 0)
df1.head()

              Source       Date  Hour  Count
0  Person1 iPhone SE  2014/12/7     8     13
1  Person1 iPhone SE  2014/12/7     8     13
2  Person1 iPhone SE  2014/12/7     8      1
3  Person1 iPhone SE  2014/12/7     8      9
4  Person1 iPhone SE  2014/12/7     8     15

In [41]:
df1.isnull().values.any()

False

In [43]:
#change the date type and set the date as index
df1['Date'] = pd.to_datetime(df1['Date']) 
df1 = df1.set_index('Date') 
print(df1.head(2))
print(df1.tail(2))
print(df1.shape)

                       Source  Hour  Count
Date
2014-12-07  Person1 iPhone SE     8     13
2014-12-07  Person1 iPhone SE     8     13
                       Source  Hour  Count
Date
2021-09-22  Person1 iPhone SE    18    392
2021-09-22  Person1 iPhone SE    18     34
(183787, 3)

In [45]:
#Contribute the Series data structure
s = pd.Series(df1['Count'], index=df1.index)
print(type(s))
s.head(2)

<class 'pandas.core.series.Series'>

Date
2014-12-07    13
2014-12-07    13
Name: Count, dtype: int64

In [46]:
#select the data from 2020
print('---------Data 2020-----------')
print(df1['2020'].head(2)) 
print(df1['2020'].tail(2))

---------Data 2020-----------
                       Source  Hour  Count
Date
2020-01-02  Person1 iPhone SE     7     10
2020-01-02  Person1 iPhone SE     8    338
                       Source  Hour  Count
Date
2020-12-31  Person1 iPhone SE    14     36
2020-12-31  Person1 iPhone SE    15     21

In [47]:
#select the data from 2019
print('---------Data 2019-----------')
print(df1['2020'].head(2)) 
print(df1['2020'].tail(2))

---------Data 2019-----------
                       Source  Hour  Count
Date
2020-01-02  Person1 iPhone SE     7     10
2020-01-02  Person1 iPhone SE     8    338
                       Source  Hour  Count
Date
2020-12-31  Person1 iPhone SE    14     36
2020-12-31  Person1 iPhone SE    15     21

In [32]:
#sum the daily walking step
df1 = df1.groupby("Date")
df2 = df1.agg({'Count':'sum'})
df2.head()

            Count
Date
2014/12/10   7845
2014/12/11    916
2014/12/12   5978
2014/12/13   8131
2014/12/14   7549