# Import Packages

In [ ]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats

# Import Dataset

In [ ]:
data=pd.read_csv("person1-step-data.csv")
data.head()

              Source       Date  Hour  Count
0  Person1 iPhone SE  2014/12/7     8     13
1  Person1 iPhone SE  2014/12/7     8     13
2  Person1 iPhone SE  2014/12/7     8      1
3  Person1 iPhone SE  2014/12/7     8      9
4  Person1 iPhone SE  2014/12/7     8     15

Checking if there is null value need to clean or fill in.

In [ ]:
data.isnull().values.any()

False

Change the datetime formate so that pandas can read.

In [ ]:
data['Date'] = pd.to_datetime(data['Date'])
data['month_year'] = data['Date'].dt.to_period('M')

summarize each month toal steps by month_year

In [ ]:
data_group=data.groupby('month_year')['Count']
data_new=data_group.sum()
data_new=pd.DataFrame(data_new)
data_new

             Count
month_year
2014-12     111590
2015-01     131321
2015-02     106851
2015-03     101621
2015-04      91726
...            ...
2021-05     518898
2021-06     406440
2021-07     360565
2021-08     321087
2021-09     205743

[82 rows x 1 columns]

test the data for each month total steps

In [ ]:
data_2015 = data['Date'].dt.year == int(2015)
data_2015 = data[data_2015]
data_2015
data_2015 = data_2015.groupby(data_2015.Date.dt.month).sum()["Count"]
data_2015=pd.DataFrame(data_2015)
data_2015

       Count
Date
1     131321
2     106851
3     101621
4      91726
5     177845
6     169385
7     202681
8     138543
9     118508
10    114230
11    136521
12     93739

setup the loop, storage each month total steps from 2015 to 2021 December for further research.

In [ ]:
t=True
year_index=2015
year_list=[]
while t:
    temp=data['Date'].dt.year == int(year_index)   
    temp=data[temp]
    temp = temp.groupby(temp.Date.dt.month).sum()["Count"]
    temp=pd.DataFrame(temp)
    year_list.append(temp)
    year_index+=1
    if year_index==2022:
        t=False

# Hypothesis Test

#Median-test:
**<font color=Red>(1).Hypothesis:</font>** **H<sub>0</sub>**:X<sub>2019Â·</sub>$\geq$<sub>Â·2020</sub> vs **H<sub>1</sub>**:X<sub>2019Â·</sub>$<$X<sub>2020</sub>

**<font color=Red>(2).Assumption:</font>**2019<sub>i</sub> and 2020<sub>i</sub> are independent and identically distributed variables N($\mu$<sub>2019</sub>,$\sigma$$^2$) and the test variables are ordinal.

**<font color=Red>(3).Test statistic:</font>**$t_0$=8.166


**<font color=Red>(4).P-value:</font>**P-value=0.997


**<font color=Red>(5).Decision:</font>**The P-value is greater than 0.05,therefore we **<font color=DarkRed>do not reject the null hypothesis</font>** and conclude that there is **<font color=Darkred>no</font>** evidence can show that the person1 was more active in 2020 than in 2019. The median test considers the positional gap of each data relative to the median in the whole, and the data is quantitative which allows to use the median test.

In [ ]:
from scipy.stats import median_test
result=median_test(year_list[4]['Count'],year_list[5]['Count'], ties = "above")
if result[0]>0:
  pvalue=1-result[1]/2
else:
  pvalue=result.pvalue[1]/2
print(pvalue)
statistic=result[0]
print(statistic)

0.9978666375889119
8.166666666666666

# Wilcox-Rank-Sum test
**<font color=Red>(1).Hypothesis:</font>** **H<sub>0</sub>**:$\mu$<sub>2019Â·</sub>$\geq$$\mu$<sub>2020</sub> vs **H<sub>1</sub>**:$\mu$<sub>2019</sub>$<$$\mu$<sub>2020</sub>

**<font color=Red>(2).Assumption:</font>**2019<sub>i</sub> and 2020<sub>i</sub> are independent and follow the same kind of distribution but differ by a shift.

**<font color=Red>(3).Test statistic:</font>** W=R<sub>1</sub>+R<sub>1</sub>+...+R<sub>n<sub>2019</sub></sub> Under H<sub>0</sub>,W follows the WRS(12,12) distribution.

**<font color=Red>(4).Test statistic:</font>**w=3.117

**<font color=Red>(5).P-value:</font>**P(W$\geq$$w$)=0.999

**<font color=Red>(6).Decision:</font>**The P-value is greater than 0.05,therefore we **<font color=DarkRed>do not reject the null hypothesis</font>** and conclude that there is **<font color=Darkred>no</font>** evidence can show that the person1 was more active in 2020 than in 2019. The Wilcox-rank-sum test consider 2019 and 2020 these two independent variables population arrangement.

In [ ]:
from scipy.stats import ranksums
result=ranksums(year_list[4]['Count'],year_list[5]['Count'])
if result.statistic>0:
  pvalue=1-result.pvalue/2
else:
  pvalue=result.pvalue/2
print(pvalue)
statistic=result.statistic
print(statistic)

0.9990886324168043
3.117691453623979

# Two-sample t-test
**<font color=Red>(1).Hypothesis:</font>** **H<sub>0</sub>**:X<sub>2019Â·</sub>$\geq$<sub>Â·2020</sub> vs **H<sub>1</sub>**:X<sub>2019Â·</sub>$<$X<sub>2020</sub>

**<font color=Red>(2).Assumption:</font>**2019<sub>i</sub> and 2020<sub>i</sub> are iid N($\mu$<sub>2019</sub>,$\sigma$$^2$) and 2019<sub>i</sub> are independent of 2020<sub>i</sub>

**<font color=Red>(3).Test statistic:</font>**$t_0$=3.221


**<font color=Red>(4).P-value:</font>**P-value=0.997


**<font color=Red>(5).Decision:</font>**The P-value is greater than 0.05,therefore we **<font color=DarkRed>do not reject the null hypothesis</font>** and conclude that there is **<font color=Darkred>no</font>** evidence can show that the person1 was more active in 2020 than in 2019.

* First, we need to **check whether the variances of the two populations are equal**, if the variances are equal, which means the two sample years with similar or equal avarge steps. Therefore we choose the t-test to verify. In this situation, once the p-value is greater than 0.05,  we can conclude that the variances of the two sample are equal and two sample year have same avarage steps, vice versa.

* As the result, p-value = 0.0437, which is **lower than 0.05**. these two sample year with **different** variances. So we need to add the "equal_var=False" in the below code.

In [ ]:
from scipy import stats
stats.levene(year_list[5]['Count'],year_list[4]['Count'])

LeveneResult(statistic=4.579807268124913, pvalue=0.04369169423054889)

* Then we perform the two sample t-test and we get the pvalue

In [ ]:
from scipy.stats import ttest_ind
result=ttest_ind(year_list[4]['Count'],year_list[5]['Count'],equal_var=False)
if result.statistic>0:
  pvalue=1-result.pvalue/2
else:
  pvalue=result.pvalue/2
print(pvalue)
statistic=result.statistic
print(statistic)

0.9965075092589535
3.2211951865187656